	input[readonly] 
	{
		cursor: pointer;
	}
	.center
	{
		text-align:center;
		
	}
	select
	{
		padding: 0;
	}
	body
	{
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /*disabling orange square*/
		margin:0px;
		padding:0px;
	}
	.pageWrap
	{
		height: 100%;
		width: 100%;
		
		font-family: 'roboto';
		padding-top: 44px;
		background-color: #f3f3f3;

	}
	td
	{
	    max-width: 100px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    word-wrap: break-word;
	   	/*white-space: nowrap;*/ /* uncomment if don't want the text to break into another line*/
	}
	#autoResizeTextBox 
	{
	    
		padding: 0px 1%;
	    font-size: 100%;
		/*width: 97.8%;
	    min-height:25px;
	    height:25px;*/
	    resize:none;
	  	/*border-radius: 5px ;
	  	border-color:#C4C4C3;*/
	}
	
	.headerDecoration
	{
		/*color:#00CCFF;*/
		/*border-bottom-color:#00CCFF;*/
		color:#33b5e5;
		font-family: 'roboto',helvetica,arial,sans;
		font-size:150%;
		border-bottom-style:solid;
		border-bottom-width:2px;
		border-bottom-color:#33b5e5;
		margin: 15px 0px;
	}

	
	img.icons
	{
		width: 30px;
		height: 30px;
		float: left;
		max-width:none;
	}
	
    #mapDisplay
    {
            top:0;
            left:0;
            height: 100%;
            width: 100%;
            position:absolute;
            
            
    }

    #closeMapButton
    {
            z-index: 1;
            position: absolute;
    }
	.submitButtonStyle 
	{
				 
		
	  	border-radius: 4px;
	  	text-shadow: 1px 1px 0px #000000 !important;
		
	  	color: #ffffff;
	  	font-size: 20px;
	  	/*background: #3498db;*/
	  	padding: 10px 20px 10px 20px;
	  	border:none;
	  	text-decoration: none;
	  	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		/* IE10 Consumer Preview 
		background: -ms-linear-gradient(top, #0099CC 0%, #33B5E5 100%);
		
		/* Mozilla Firefox
		background: -moz-linear-gradient(top, #0099CC 0%, #33B5E5 100%);
		
		/* Opera 
		background: -o-linear-gradient(top, #0099CC 0%, #33B5E5 100%);
		
		/* Webkit (Safari/Chrome 10) 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0099CC), color-stop(1, #33B5E5));
		
		/* Webkit (Chrome 11+) 
		background: -webkit-linear-gradient(top, #0099CC 0%, #33B5E5 100%);
		
		/* W3C Markup, IE10 Release Preview *
		background: linear-gradient(to bottom, #0099CC 0%, #33B5E5 100%);
		*/
		background:#0099CC;


		

	}

	.submitButtonStyle:active 
	{
		/* IE10 Consumer Preview 
		background: -ms-linear-gradient(top left, #FF8800 0%, #FFBB33 100%);
		
		/* Mozilla Firefox 
		background: -moz-linear-gradient(top left, #FF8800 0%, #FFBB33 100%);
		
		/* Opera 
		background: -o-linear-gradient(top left, #FF8800 0%, #FFBB33 100%);
		
		/* Webkit (Safari/Chrome 10) 
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FF8800), color-stop(1, #FFBB33));
		
		/* Webkit (Chrome 11+) 
		background: -webkit-linear-gradient(top left, #FF8800 0%, #FFBB33 100%);
		
		/* W3C Markup, IE10 Release Preview 
		background: linear-gradient(to bottom right, #FF8800 0%, #FFBB33 100%);*/
		background:#FF8800;
	  	text-decoration: none;
	  	border: solid #cc0000 1px;
	  	text-shadow: 1px 1px 0px #000000;
	}
	#SOSButton
	{
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
		/*background:url(./images/btn_sos_normal.png) no-repeat;*/
		max-width:80%; /*same as the height*/
		/*max-height:80%; *//*same as the width*/ /*comment fixed the shrinking problem of the button*/

	/*	-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;*/


	}
	input.inputBox 
	{
    	font-family: 'roboto',helvetica,arial,sans;
    	font-size: 120%;
    	width:100%;
    	color: #000000;
    	background: transparent; 
    	border: none;
    	-webkit-box-shadow: none;
    	-moz-box-shadow: none;
    	box-shadow:none;
    	-webkit-transition: none;
    	transition:none;
    	line-height: normal;
    	padding: 0;
    	margin-bottom: 0px;
    	height: inherit;
    	
	}
	.robo
	{
		font-family: 'roboto',helvetica,arial,sans;
	}
	.sectionWrap
	{
		border: solid;
		border-width: 1px;
		border-color: #a9a9a9;
		border-radius: 4px;
		margin: 10px;
		padding: 20px;
		padding-top:0;
		background-color: white;
	}
	
	.littleButtonStyle
	{
		  background-image: -webkit-linear-gradient(top, #0099cc, #33b5e5);
		  background-image: -moz-linear-gradient(top, #0099cc, #33b5e5);
		  background-image: -ms-linear-gradient(top, #0099cc, #33b5e5);
		  background-image: -o-linear-gradient(top, #0099cc, #33b5e5);
		  background-image: linear-gradient(to bottom, #0099cc, #33b5e5);
		  -webkit-border-radius: 4px;
		  -moz-border-radius: 4px;
		  border-radius: 4px;
		  text-shadow: 1px 1px 0px #000000;
		  color: #ffffff;
		  font-size: 100%;
		  background: #3498db;
		  padding: 5px;
		  border:none;
		  text-decoration: none;
	}

	.littleButtonStyle:active 
	{
		  background: #ff8800;
		  background-image: -webkit-linear-gradient(top, #ff8800, #ffbb33);
		  background-image: -moz-linear-gradient(top, #ff8800, #ffbb33);
		  background-image: -ms-linear-gradient(top, #ff8800, #ffbb33);
		  background-image: -o-linear-gradient(top, #ff8800, #ffbb33);
		  background-image: linear-gradient(to bottom, #ff8800, #ffbb33);
		  text-decoration: none;
		  border: solid #cc0000 1px;
		  text-shadow: 1px 1px 0px #000000;
	}
	
  	#picker
  	{
  		border: none;
  		box-shadow: none;
  		-webkit-box-shadow:none;
		-moz-box-shadow:none;
  		color:#000000;
  		font-size: 100%;
  		width: 50%;
  		font-family: 'roboto',helvetica,arial,sans;
  		background: none;
  		-webkit-transition: none;
  		transition: none;
  		-webkit-border-radius: 0;
  		border-radius:0;
  		
  	}
  	
	textarea
	{
		padding: 0;
		font-family: 'roboto',helvetica,arial,sans;
	}
	
	.dropdown 
	{
		padding-left: 5px;
      	border: 1px solid;
     	border-color: #C4C4C3;
     	border-radius: 4px;
      	-webkit-appearance: none;        /*Removes default chrome and safari style*/
      	-moz-appearance: none;          /* Removes Default Firefox style*/
      	background: url('./images/DownArrow.png') no-repeat;         /*Adds background-image*/
     	background-size:10px;
              /*Position of the background-image*/

      	background-position: 97% 50%;                /*Position of the background-image*/
      	width: 100%;
     	line-height:normal;

		 	
	}
	.dropdown:focus
	{
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6); 
	}

       
	.navBar
	{
		list-style-type:none;
		margin:0;
		padding:0;
		overflow:hidden;
	}
	.navTab
	{
		width:33%;
		float:left;
	}

	.tab:link, .tab:visited, .tab:hover
	{
		display:block;

		color:#FFFFFF;
		background-color:#0099CC;
		text-align:center;
		padding:4px;
		text-decoration:none;
		text-transform:uppercase;
		border-bottom: solid;
		border-bottom-width: 8px; 
		border-bottom-color: #0099CC;
		border-top: solid;
		border-top-width: 8px;
		border-top-color: #0099CC;
		font-family: 'roboto',helvetica,arial,sans;
		
	}
	
	.tab:active
	{
		background-color:#33B5E5;
		
		border-top-color: #33B5E5;

	}
	       
	.middleTab
	{
		border-left: 1px solid;
		border-right: 1px solid;
		border-left-color: #33B5E5;
		border-right-color: #33B5E5;
		/*makes the border inside the element and not outside*/
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}       
	
	.descriptionBox
	{
		height: 20px;
		margin:0 5px;
		border:none;
		max-width: 94%;
		width: 94%;
		background: none;
		-webkit-box-shadow:none;
		box-shadow:none;
		-webkit-transition:none;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-appearance: none;
		
		
	}
	.descriptionBox:focus
	{
		box-shadow:none;
		-webkit-box-shadow:none;
		border-color:none;
	}
	.textEditUnderLine
	{
		margin: 0 3px;
		margin-bottom: 10px;
		height:3px;
		border: solid 1px #a9a9a9;
		border-top:none;		
	}
	input.middle:focus 
	{
	    outline-width: 0;
	}
	input:focus, select:focus, textarea:focus, button:focus 
	{
	    outline: none;
	}	
   .photo
   {
   	 	display:inline;
   	 	width:60px;
   	 	height:60px;
   	 	padding:4px;
   }
